<!-- <app-info-proyecto></app-info-proyecto> -->
<!-- <app-info-general-proyecto></app-info-general-proyecto> -->
<!-- <app-info-financiera></app-info-financiera>  -->
<!-- <app-contrato-obra></app-contrato-obra>   -->
<!-- <app-info-principal></app-info-principal> -->
<!-- <app-ejecucion-estado></app-ejecucion-estado> -->
<!-- <app-buscar-proyecto></app-buscar-proyecto>-->
<!-- <app-proceso-seleccion></app-proceso-seleccion> -->
<!-- <app-buscar-tramo></app-buscar-tramo> -->
<!-- <app-buscar-menu></app-buscar-menu> -->
 <router-outlet></router-outlet>

