<div class="container-fluid">
    <div class="title-block">
      <p class="page-title">Auto Capacitación</p>
    </div>
</div>

<div class="container-fluid pt-4">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-informacion-general-proyecto" aria-selected="false"
            routerLink="manual" routerLinkActive="active">Manual
          </a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-informacion-general-proyecto" aria-selected="false"
            routerLink="videos" routerLinkActive="active">Videos</a>
        </div>
    </nav>
</div>
<div class="container-fluid m-0 p-0">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane tab-pane-border fade show active" id="nav-informacion-general-proyecto" role="tabpanel" aria-labelledby="nav-informacion-general-proyecto">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
