<div class="container-fluid">
    <p class="page-title">Componentes</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
          <div class="card card-white">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="row form-group">
                    <label dlabels class="col-sm-2 control-label">Componentes:</label>
                    <div class="col-sm-10">
                      <input dTextBox class="form-control" type='text' placeholder="Ingrese nombre del componente" name="campoBusqueda" [(ngModel)]="campoBusqueda" />
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-12">
                      <div class=" pull-right">
                          <button type="button" id="btnBuscar" class="btn pull-left btn-plomo" (click)="busqueda()"><i class="fa fa-search"></i> Buscar</button>
                          <button type="button" id="btnNuevoRegistro" class="btn pull-left ml-1 btn-danger" (click)="modalAgregarComponente()"> Nuevo Registro</button>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
          <div class="col-lg-4"><div class="card card-auto bg-cyan-600"><div class="card-body"><div class="div-centrado text-center c-white"><div class="f-s-5rem l-h-100">{{totalComponentes}}</div><div>Componentes</div></div></div></div></div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="card card-principal">
        <div class="card-head"></div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 container-scroll">
            <table class="table table-hover table-responsive table-normal">
              <thead>
                <tr>
                  <th>NOMBRE</th>
                  <th>TIPO COMPONENTE</th>
                  <th>SECCIÓN</th>
                  <th>PÁGINA</th>
                  <th>MÓDULO</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let campos of arregloComponente">
                  <td class="xs-hidden text-left">{{campos.nombre_componente}}</td>
                  <td class="xs-hidden text-left">{{campos.tipo_componente}}</td>
                  <td class="xs-hidden text-left">{{campos.seccion}}</td>
                  <td class="xs-hidden text-left">{{campos.pagina}}</td>  
                  <td>
                    <div class="xs-hidden text-left">
                        {{campos.modulo}}
                    </div>
                    <div class="xs-display">
                        <div class="xs-th f-s-8">{{campos.nombre_componente}}</div>
                        <div class="xs-th f-s-13">{{campos.tipo_componente}}</div>
                        <div class="xs-th f-s-13">{{campos.seccion}}</div>
                        <div class="xs-th f-s-13">{{campos.pagina}}</div>
                        <div class="xs-th f-s-13">{{campos.modulo}}</div>
                    </div>
                  </td>
                  <td width="140" class="xs-footer-lista xs-100 xs-text-right pre-wrap">
                      <div class="xs-hidden">
                          <span class="btn btn-sm btn-opt btn-icon" (click)="modalEditarComponente(campos)"><i class="fa fa-15x"><img src="assets/img/icons/pencil.svg"></i></span>
                          <span class="btn btn-sm btn-opt btn-icon" (click)="mostrarAlerta(campos.id_componente)"><i class="fa fa-15x"><img src="assets/img/icons/trash.svg"></i></span>
                      </div>
                      <div class="xs-display">
                          <span class="btn-icon mr-1" (click)="modalEditarComponente(campos)"><i class="fa fa-pencil"></i></span>
                          <span class="btn-icon" (click)="mostrarAlerta(campos.id_componente)"><i class="fa fa-trash"></i></span>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">            
                <nav class="pt-4 pl-3 pull-right">
                <pagination [totalItems]="totalComponentes"
                    [boundaryLinks]="true"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    [rotate]="false"
                    firstText="&laquo;"
                    lastText="&raquo;"
                    [maxSize]="5"
                    [(ngModel)]="paginaActual"
                    (pageChanged)="cambiarPagina($event)">
                  </pagination>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>